# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Tests y cobertura
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Base de datos SQLite
/data/
*.db

# Variables de entorno
.env

# Node / Frontend
node_modules/
dist/
.vite/

# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform.lock.hcl

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

